langchain
langchain_community
langchain_core
langchain_google_genai
langchain_huggingface
langchain_ollama
ipykernel
python-dotenv
chromadb
langchain_chroma
pymupdf
gensim
langchain-groq
langchain-text-splitters
sentence-transformers
python-docx
pypdf 
pandas
numpy
openai
matplotlib
seaborn
torch
fastapi
uvicorn


